{% load static %}
<!DOCTYPE html>
<html lang="uz">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>
            {% block title %}
                Kinolar
            {% endblock title %}
        </title>
      <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>
        {% block content %}
            <div class="detail-main">
                <div class="detail">
                    <h1 class="linklogo"><a href="{% url 'film_list' %}">UZFLIX</a></h1>
                    {% for film in film_list %}
                        <ul>
                            <h2 class="filmname"><a href="{% url 'film_detail' film.pk %}">{{ film.nomi }}</a> </h2>
                            <li>Haqida: {{ film.haqida }}</li>
                            <li>Yili: {{ film.yili }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        {% endblock content %}
    </body>
</html>
